:root {
  --bg-color: rgb(188, 223, 225);
  --accent-color: rgb(125, 189, 192);
  --highlight-color1: rgb(209, 204, 153);
  --highlight-color2: rgb(125, 189, 192);
  --color-text: #191924;
  --color-background: #bcdfe1;
  --icon-color: #000000;
}

:root[data-color-scheme="dark"] {
  --color-text: #fff6c7;
  --color-background: #191924;
  --accent-color: #47476b;
  --bg-color: #191924;
  --icon-color: #fff6c7;
}
